<a href="https://colab.research.google.com/github/DanielaNik/lunar-landings-app/blob/master/NASA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#start here
#shift+enter in this box will run the code that's here and open a new code-box below
#import ....

#Note: Imports for the modules that we need
import numpy as np
import pandas as pd

#Note: Requests is a simple, yet elegant, HTTP library.
#Resource: https://pypi.org/project/requests/
import requests

#Note: Beautiful Soup is a library that makes it easy to scrape information from web pages.
#Note: In the following resource you can find a way to select any part of a HTML content.
#Resource: https://pypi.org/project/beautifulsoup4/
from bs4 import BeautifulSoup

#Note: IPython is a command shell for interactive computing in Python.
#Note: IPython.display is a module for display tools in IPython.
#Resource: https://ipython.readthedocs.io/en/stable/api/generated/IPython.display.html
from IPython.display import HTML


#Note: We can disable warnings for our requests.
import warnings

requests.packages.urllib3.disable_warnings()
warnings.filterwarnings("ignore")

import re
import json

In [ ]:
#Web Scarping from NASA

scraping_url = 'https://www.lroc.asu.edu/featured_sites/'

In [ ]:
#Response from site
response = requests.get(scraping_url)
response

In [ ]:
#Parsing with BeautifulSoup

raw_html = response.text
html = BeautifulSoup(raw_html, "html.parser")
type(html)

bs4.BeautifulSoup

In [ ]:
#Save in Drive

from google.colab import drive

drive.mount('/content/drive')
path = "/content/drive/MyDrive/OpenData-Project"

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
html.select_one('.modal-header > h4').text

'GRAIL A'

In [ ]:
def get_data(url, path):
  response = requests.get(url)
  html = BeautifulSoup(response.text, "html.parser")

  shuttle_items = html.find_all('div', class_='modal-content')
  lon_items = html.select('.lat-lon')

  print(len(shuttle_items))
  shuttles = {}

  for i in range(0, len(shuttle_items)):
    # item = {}

    shuttle_name = shuttle_items[i].select_one('.modal-header > h4').text
    # item['Name'] = shuttle_name

    shuttle_longitude = lon_items[i].text
    # item['Longitude'] = shuttle_longitude

    shuttle_country = shuttle_items[i].select_one('.modal-body > p:nth-child(1)').text
    # item['Country'] = shuttle_country

    shuttle_description= shuttle_items[i].select_one('.modal-body > p:nth-child(2)').text
    # item['Description'] = shuttle_description

    item = {
        'Name': shuttle_name,
        'Longitude': shuttle_longitude,
        'Country': shuttle_country,
        'Description': shuttle_description
    }

    shuttles= json.dumps(item)


  df = pd.DataFrame(shuttles)
  # url_parts = url.split("/")
  # file_name = path + "/results_" + url_parts[3] + ".csv"
  df.to_json(r'/content/drive/MyDrive/OpenData-Project/Shuttles.json')

  return df

In [ ]:
nasa_shuttles_url = "https://www.lroc.asu.edu/featured_sites/"
nasa_data = get_data(nasa_shuttles_url,path)

36

ValueError: ignored

In [ ]:

print(nasa_data)

                      Name                                          Longitude  \
0                  GRAIL A  \n                  Longitude: 333.41° \n     ...
1                  GRAIL B  \n                  Longitude: 333.17° \n     ...
2                    LADEE  \n                  Longitude: 266.75° \n     ...
3   Chang'e 3 Landing Site  \n                  Longitude: 340.49° \n     ...
4   Chang'e 4 Landing Site  \n                  Longitude: 177.59° \n     ...
5      17 March 2013 Event  \n                  Longitude: 335.67° \n     ...
6           New Crater 260  \n                  Longitude: 319.50° \n     ...
7           New Crater 278  \n                  Longitude: 125.41° \n     ...
8           New Crater 572  \n                  Longitude: 30.54° \n      ...
9                Apollo 11  \n                  Longitude: 23.47° \n      ...
10               Apollo 12  \n                  Longitude: 336.58° \n     ...
11               Apollo 14  \n                  Longitude: 342.53° \n     ...
12               Apollo 15  \n                  Longitude: 3.63° \n       ...
13               Apollo 16  \n                  Longitude: 15.50° \n      ...
14               Apollo 17  \n                  Longitude: 30.77° \n      ...
15         Apollo 13 S-IVB  \n                  Longitude: 332.11° \n     ...
16         Apollo 14 S-IVB  \n                  Longitude: 333.97° \n     ...
17         Apollo 15 S-IVB  \n                  Longitude: 348.18° \n     ...
18         Apollo 17 S-IVB  \n                  Longitude: 347.67° \n     ...
19              Surveyor 1  \n                  Longitude: 316.66° \n     ...
20              Surveyor 3  \n                  Longitude: 336.58° \n     ...
21              Surveyor 5  \n                  Longitude: 23.19° \n      ...
22              Surveyor 6  \n                  Longitude: 358.57° \n     ...
23              Surveyor 7  \n                  Longitude: 348.49° \n     ...
24                Ranger 6  \n                  Longitude: 21.48° \n      ...
25                Ranger 7  \n                  Longitude: 339.32° \n     ...
26                Ranger 8  \n                  Longitude: 24.79° \n      ...
27                Ranger 9  \n                  Longitude: 357.61° \n     ...
28                 Luna 16  \n                  Longitude: 56.36° \n      ...
29                 Luna 17  \n                  Longitude: 325.00° \n     ...
30                 Luna 20  \n                  Longitude: 56.62° \n      ...
31                 Luna 21  \n                  Longitude: 30.41° \n      ...
32                 Luna 23  \n                  Longitude: 62.15° \n      ...
33                 Luna 24  \n                  Longitude: 62.21° \n      ...
34              Lunokhod 1  \n                  Longitude: 324.99° \n     ...
35              Lunokhod 2  \n                  Longitude: 30.92° \n      ...

          Country                                        Description
0   United States  The GRAIL-A spacecraft (Gravity Recovery and I...
1   United States  The GRAIL-B spacecraft (Gravity Recovery and I...
2   United States  The Lunar Atmosphere and Dust Environment Expl...
3           China  Chang'e 3 launched on 1 December 2013 and succ...
4           China  Chang'e 4 launched on 7 December 2018 and succ...
5   Natural Event  \nA team of Marshall Space Flight Center scien...
6   Natural Event  The impact that created New Crater 260 occurre...
7   Natural Event  The impact that created New Crater 278 occurre...
8   Natural Event  The impact that created New Crater 572 occurre...
9   United States  Astronauts Neil Armstrong and "Buzz" Aldrin la...
10  United States  Astronauts Pete Conrad and Alan Bean landed th...
11  United States  Astronauts Alan Shepard and Ed Mitchell landed...
12  United States  Astronauts David Scott and James Irwin landed ...
13  United States  Astronauts John Young and Charles Duke landed ...
14  United States  Astronauts Eugene Cernan and Harrison Schmitt ...
15  United States  The third stage of the Apollo 13 Saturn V laun...
16  United States  The third stage of the Apollo 14 Saturn V laun...
17  United States  The third stage of the Apollo 15 Saturn V laun...
18  United States  The third stage of the Apollo 17 Saturn V laun...
19  United States  Surveyor 1 was launched on 30 May 1966 and lan...
20  United States  Surveyor 3 was launched on 17 April 1967 and l...
21  United States  Surveyor 5 was launched on 8 September 1967 an...
22  United States  Surveyor 6 was launched on 7 November 1967 and...
23  United States  Surveyor 7 was launched on 7 January 1968 and ...
24  United States  The Ranger series of missions were designed to...
25  United States  The Ranger series of missions were designed to...
26  United States  The Ranger series of missions were designed to...
27  United States  The Ranger series of missions were designed to...
28   Soviet Union  Luna 16 was launched on 12 September 1970 and ...
29   Soviet Union  Luna 17 was the carrier spacecraft for the Lun...
30   Soviet Union  Luna 20 was a successful automated sample retu...
31   Soviet Union  Luna 21 was the carrier spacecraft for the Lun...
32   Soviet Union  Luna 23 was an attempted automated sample retu...
33   Soviet Union  Luna 24 was a successful automated sample retu...
34   Soviet Union  Lunokhod 1 was launched aboard the Luna 17 spa...
35   Soviet Union  Lunokhod 2 was launched aboard the Luna 21 spa...